@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
@model IEnumerable<Assignment1.Models.CustDashboard>*@
@{
}
<table class = "table table-bordered table-striped" style="width:100%">
    <caption>Table for Entries</caption>
    <thead>
        <tr>
            <th>
                TaskId
            </th>
            <th>
                Type 
            </th>
            <th>
                UserAsgnId 
            </th>
            <th>
                AssetAsgnId 
            </th>
            <th>
                DueDate
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
   @* <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.TaskId
                </td>
                <td width="30%">
                    @obj.Type
                </td>
                <td width="30%">
                    @obj.UserAsgnId
                </td>
                <td width="30%">
                    @obj.AssetAsgnId
                </td>
                <td width="30%">
                    @obj.DueDate
                </td>
                <td width="30%">
                    @obj.StartDate
                </td>
                <td width="30%">
                    @obj.EndDate
                </td>
                <td width="30%">
                    @obj.Cost
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-secondary mx-2" asp-controller="CustDashboard" asp-action="Edit" asp-route-id="@obj.TaskId"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger mx-2" asp-area="" asp-controller="CustDashboard" asp-action="Delete" asp-route-id="@obj.TaskId">  delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
   *@ 

</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 